 @import url('https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,100..900;1,100..900&family=Dancing+Script:wght@400..700&display=swap');
 html{
    scroll-behavior: smooth;
 }
body {
    font-family: 'advent pro',sans-serif;
    padding: 0;
   margin: 0;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
 li {
    list-style-type: style type one;
}
h2{
    text-transform: uppercase;
    text-align: center;
    padding-top: 30px;
    font-size: 2em;
}
a{
text-decoration: none;
color: black;
}
/* ********************NAVBAR************************** */
nav {
    overflow: hidden;
    background-color: #FFFAE1;
    position: fixed;
    width: 100%;
    opacity: 0.9;
}
nav a:hover{
    background-color: #f2eeee;
}
header li{
float:right;
font-size: 1.2em;
}
header li a{
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 18px 16px;
}
#logo {
    font-family: 'Dancing script',cursive;
    font-weight: bold;
    float: left;
}
 #numero{
    font-family: Dancing script,cursive;
    font-weight:bold ;
    float: inline-start;
}
/* *****************************IMAGE PRINCIPALE********************** */

#imageprincipale {
    padding: 60px;
    background: url(Valeur.jpg);no-repeat fixed 50% 50%;
    background-size: cover;
    height: 900px;
}
h1{
    font-family: 'Dancing script',cursive;
    text-align: center;
    color: antiquewhite;
    font-size: 6em;
    margin-top: 100px;
    text-shadow: 1px 2px 3px black;
}
#premierTrait {
    height: 1px;
    width: 25%;
    margin: -3px auto;
    background-color: #FFFAE1;
    box-shadow: 1px 2px 3px black;
}
h3 {
    text-align: center;
    color: antiquewhite;
     font-size: 3em;
     text-shadow: 1px 2px 3px black;
}
/* *************************************PRESENTATION************************************* */
#presentation {
    background-color: #FFFAE1;
    padding: 10px 0px 100px 0;
}
#texteIntro {
    padding: 0px 20%;
}
#presentations {
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    padding: 30px 10%;
}

#prestations{
    display: flex;
    justify-content: center;
    align-items: center;
}

#prestations img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin: 5px;
    border-radius: 10px;
}
.imagesPrestations h4{
    font-family:'Dancing script',cursive;
    text-align: center;
    font-size: 1.8em;
    margin: 15px;
    font-weight: 300;
}
.imagesPrestations img{
    border-radius: 60%;
    box-shadow: 5px 5px 3px 1px rgba(0,0,0,0);
}
.imagesPrestations img:hover {
    opacity: 0.5;
    transform: scale(1.05);
    transition: 0.8s ease-in-out;
}
/* ****************TOURISME******************************************************* */
#tourisme{
    height: 1400px;
    background-color: #f1f2f6;
    padding: 1px 2%;
    }
    #tourisme h2{
        padding-top: 60px;
    }
#Chefferie{
    background: url(chefferie1.jpg);
}   
#rondpoint{
    background: url(rondpoint.jpg);
}
#lewouri{
    background:url(wouri.jpg);
}
#lajoie{
    background: url(ruelajoie.jpg);
}
#tourisme li{
    margin: 65px 100px 0 100px;
    height: 226px;
    width: 55%;
    max-width: 550px;
    float: left;
    box-shadow: 6px 6px 28px -1px rgba(0,0,0,75);
}
#tourisme p{
    text-align: center;
    height: 45px;
    width: 235px;
    background-color: aqua;
    float: right;
    margin: 50px -180px 0 0;
    font-size: 1.5em;
    padding-top: 15px;
    box-shadow: 4px 4px 0 1px rgba(90,161,43,1);
}
#tourisme #Chefferie,#tourisme #lewouri{
    float: right;
}
#Chefferie p,#lewouri p {
    float: left;
    background-color: cyan;
    margin-left: -180px;
    box-shadow: -4px 4px 0 1px rgba(15,154,156,1);
}
/* *************************footer*********************************** */
footer{
    background-color: #524A3A;
    color: #FFFAE1;
    padding: 20px 0 10px 0;
    text-align: center;
}
form{
    margin: 0 auto;
    max-width: 900px;
}
input,button,textarea{
    border: none;
    width: 55%;
    padding: 15px 10px;
    margin: 1px 0;
    font-size: 1.2em;
    font-family: 'advent pro',sans-serif;
    border-radius: 8px;
}

button{
    font-size: 1.5em;
    background-color: #FFFAE1;
}
button:hover{
    background-color: #e55039;
   
}
#deuxiemeTrait{
    height: 1px;
    width: 75%;
    background-color: #FFFAE1;
    margin: 60px auto;
}
#copyrightEtIcons {
    display: flex;
    margin-bottom: 20px;
    padding: 0 10%;
}
#copyright{
    width: 50%;
    text-align: left;
    color: #FFFAE1;
}
#Icons {
    width: 50%;
    text-align: right;

}
#Icons a {
    display: inline-block;
    margin: 0 15px;
    font-size: 1.3em;
    color: #FFFAE1;
    }
    #icons a:hover {
        transform: scale(1.5);
        transition: 0.1s;
    }
